Repository XTIDfdenni/BGSI-GeneticAnalysisSupportPlatformIndonesia-GASPI: changes, and which Atlantis projects are due for each by the changed paths.
All: gxc-hub01-root, gxc-hub01-cognito, gxc-hub01-sbeacon, gxc-hub01-svep, gxc-hub01-webgui, gxc-hub02-root, gxc-hub02-cognito, gxc-hub02-sbeacon, gxc-hub02-svep, gxc-hub02-webgui

atlantis.yaml:

version: 3
automerge: false

projects:
# Projects deploying to Hub01 (main branch)
- name: gxc-hub01-root
  dir: .
  workspace: hub01
  branch: main
  workflow: hub01-workflow
  autoplan:
    enabled: true
    when_modified: ["*.json", "*.yaml", "*.js", "*.tf", "*.tfvars"]

- name: gxc-hub01-cognito
  dir: cognito
  workspace: hub01
  branch: main
  workflow: hub01-workflow
  autoplan:
    enabled: true
    when_modified: ["**/*.json", "**/*.yaml", "**/*.js", "**/*.tf", "**/*.tfvars"]

- name: gxc-hub01-sbeacon
  dir: sbeacon
  workspace: hub01
  branch: main
  workflow: hub01-workflow
  autoplan:
    enabled: true
    when_modified: ["**/*.json", "**/*.yaml", "**/*.js", "**/*.tf", "**/*.tfvars"]

- name: gxc-hub01-svep
  dir: svep
  workspace: hub01
  branch: main
  workflow: hub01-workflow
  autoplan:
    enabled: true
    when_modified: ["**/*.json", "**/*.yaml", "**/*.js", "**/*.tf", "**/*.tfvars"]

- name: gxc-hub01-webgui
  dir: webgui/terraform-aws
  workspace: hub01
  branch: main
  workflow: hub01-workflow
  autoplan:
    enabled: true
    when_modified: ["**/*.json", "**/*.yaml", "**/*.js", "**/*.tf", "**/*.tfvars"]

# Projects deploying to Hub02 (xapiens branch)
- name: gxc-hub02-root
  dir: .
  workspace: hub02
  branch: xapiens
  workflow: hub02-workflow
  autoplan:
    enabled: true
    when_modified: ["*.json", "*.yaml", "*.js", "*.tf", "*.tfvars"]

- name: gxc-hub02-cognito
  dir: cognito
  workspace: hub02
  branch: xapiens
  workflow: hub02-workflow
  autoplan:
    enabled: true
    when_modified: ["**/*.json", "**/*.yaml", "**/*.js", "**/*.tf", "**/*.tfvars"]

- name: gxc-hub02-sbeacon
  dir: sbeacon
  workspace: hub02
  branch: xapiens
  workflow: hub02-workflow
  autoplan:
    enabled: true
    when_modified: ["**/*.json", "**/*.yaml", "**/*.js", "**/*.tf", "**/*.tfvars"]

- name: gxc-hub02-svep
  dir: svep
  workspace: hub02
  branch: xapiens
  workflow: hub02-workflow
  autoplan:
    enabled: true
    when_modified: ["**/*.json", "**/*.yaml", "**/*.js", "**/*.tf", "**/*.tfvars"]

- name: gxc-hub02-webgui
  dir: webgui/terraform-aws
  workspace: hub02
  branch: xapiens
  workflow: hub02-workflow
  autoplan:
    enabled: true
    when_modified: ["**/*.json", "**/*.yaml", "**/*.js", "**/*.tf", "**/*.tfvars"]

DEV: ingestion and indexing to beacon implemeted in data portal
  .devcontainer/requirements.txt
  .vscode/settings.json
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/beacon-ingest-dialog/beacon-ingest-dialog.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/beacon-ingest-dialog/beacon-ingest-dialog.component.scss
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/beacon-ingest-dialog/beacon-ingest-dialog.component.spec.ts
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/beacon-ingest-dialog/beacon-ingest-dialog.component.ts
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/projects-list.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/projects-list.component.ts
  webgui/webapp/src/app/services/dportal.service.ts
Due: none

Update atlantis
  atlantis.yaml
Due: gxc-hub01-root, gxc-hub02-root

DEV: project list and update section to show ingested status of datasets
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/project-updates/project-updates.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/project-updates/project-updates.component.ts
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/projects-list.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/projects-list.component.ts
Due: none

FIX: disallow modal closure with backdrop click
  webgui/webapp/src/app/app.config.ts
Due: none

DEV: facility to uningest beacon data
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/beacon-ingest-dialog/beacon-ingest-dialog.component.ts
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/project-updates/project-updates.component.ts
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/projects-list.component.ts
  webgui/webapp/src/app/services/dportal.service.ts
Due: none

DEV: Disable updates to guest and admin password during terraform patching
  cognito/cognito.tf
Due: gxc-hub01-cognito, gxc-hub02-cognito

feat: add cost estimation notebooks
  webgui/webapp/package.json
  webgui/webapp/pnpm-lock.yaml
  webgui/webapp/src/app/pages/portal-page/dportal-page/user-section/user-notebook-list/user-notebook-list.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/user-section/user-notebook-list/user-notebook-list.component.ts
  webgui/webapp/src/app/services/aws.service.spec.ts
  webgui/webapp/src/app/services/aws.service.ts
Due: none

chore: add env example
  webgui/webapp/src/environments/environment.ts.example
Due: none

chore: add env aws pricing plan
  main.tf
  webgui/terraform-aws/build_and_hash.py
  webgui/terraform-aws/upload.tf
  webgui/terraform-aws/variables.tf
  webgui/webapp/src/app/pages/portal-page/dportal-page/user-section/user-notebook-list/user-notebook-list.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/user-section/user-notebook-list/user-notebook-list.component.ts
  webgui/webapp/src/app/services/aws.service.ts
Due: gxc-hub01-root, gxc-hub01-webgui, gxc-hub02-root, gxc-hub02-webgui

chore: remove @aws-sdk/client-pricing
  webgui/webapp/package.json
  webgui/webapp/pnpm-lock.yaml
Due: none

chore: update filter
  webgui/webapp/src/app/services/aws.service.ts
Due: none

Added backend & terraform.tfvars example
  backend.tf
  backend.tf.example
  terraform.tfvars.example
Due: gxc-hub01-root, gxc-hub02-root

Fixing billing variable string
  main.tf
  variables.tf
  webgui/terraform-aws/build_and_hash.py
  webgui/webapp/src/app/services/aws.service.ts
  webgui/webapp/src/environments/environment.ts.example
Due: gxc-hub01-root, gxc-hub02-root

fix: remove estimation submit button validation
  webgui/webapp/src/app/pages/portal-page/dportal-page/user-section/user-notebook-list/user-notebook-list.component.html
Due: none

FIX: Add backend.tf to .gitignore
  .gitignore
Due: none

FIX: Integrate AWS Pricing API access using Cognito and remove hardcoded credentials
  cognito/cognito-idp.tf
  cognito/cognito.tf
  main.tf
  terraform.tfvars.example
  webgui/terraform-aws/build_and_hash.py
  webgui/terraform-aws/upload.tf
  webgui/terraform-aws/variables.tf
  webgui/webapp/src/app/services/aws.service.ts
  webgui/webapp/src/environments/environment.ts.example
Due: gxc-hub01-root, gxc-hub01-cognito, gxc-hub01-webgui, gxc-hub02-root, gxc-hub02-cognito, gxc-hub02-webgui

DEV: Added project selection as a form field for sBeacon requests
  webgui/webapp/src/app/pages/portal-page/query-page/components/query-tab/query-tab.component.html
  webgui/webapp/src/app/pages/portal-page/query-page/components/query-tab/query-tab.component.ts
Due: none

MAINT: remove cohort management aspects no longer used
  webgui/webapp/src/app/components/filter-editor/filter-editor.component.html
  webgui/webapp/src/app/pages/portal-page/filters-page/components/filters-tab/filters-tab.component.html
  webgui/webapp/src/app/pages/portal-page/filters-page/components/filters-tab/filters-tab.component.ts
  webgui/webapp/src/app/pages/portal-page/query-page/components/query-tab/query-tab.component.html
  webgui/webapp/src/app/pages/portal-page/query-page/components/query-tab/query-tab.component.ts
  webgui/webapp/src/app/utils/interfaces.ts
Due: none

feat: init user quota UI
  webgui/webapp/src/app/pages/admin-page/admin-page.component.ts
  webgui/webapp/src/app/pages/admin-page/components/admin-create-user-dialog/admin-create-user-dialog.component.html
  webgui/webapp/src/app/pages/admin-page/components/admin-create-user-dialog/admin-create-user-dialog.component.ts
  webgui/webapp/src/app/pages/admin-page/components/admin-user-click-dialog/admin-user-click-dialog.component.html
  webgui/webapp/src/app/pages/admin-page/services/admin.service.ts
Due: none

remove disable on data manager, set default tab to onboard when page change
  webgui/webapp/src/app/pages/admin-page/components/admin-create-user-dialog/admin-create-user-dialog.component.html
  webgui/webapp/src/app/pages/admin-page/components/admin-user-click-dialog/admin-user-click-dialog.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/admin-section.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/admin-section.component.ts
Due: none

prettyfy
  webgui/webapp/src/app/pages/admin-page/admin-page.component.html
  webgui/webapp/src/app/pages/admin-page/components/admin-create-user-dialog/admin-create-user-dialog.component.html
  webgui/webapp/src/app/pages/admin-page/components/admin-user-click-dialog/admin-user-click-dialog.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/admin-section.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/beacon-ingest-dialog/beacon-ingest-dialog.component.spec.ts
  webgui/webapp/src/app/pages/portal-page/dportal-page/user-section/user-notebook-list/access-keys-dialog/access-keys-dialog.component.spec.ts
  webgui/webapp/src/app/services/aws.service.spec.ts
  webgui/webapp/src/app/services/aws.service.ts
Due: none

feat: add cost estimation list
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/admin-notebooks-list/admin-notebook-item/admin-notebook-item.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/admin-notebooks-list/admin-notebook-item/admin-notebook-item.component.ts
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/admin-notebooks-list/admin-notebooks-list.component.ts
Due: none

chore: remove console
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/admin-notebooks-list/admin-notebook-item/admin-notebook-item.component.ts
Due: none

fix: reset after submit notebook
  webgui/webapp/src/app/pages/portal-page/dportal-page/user-section/user-notebook-list/user-notebook-list.component.ts
Due: none

feat: add quota calculation
  webgui/webapp/src/app/pages/admin-page/components/admin-create-user-dialog/admin-create-user-dialog.component.html
  webgui/webapp/src/app/pages/admin-page/components/admin-create-user-dialog/admin-create-user-dialog.component.ts
  webgui/webapp/src/app/pages/admin-page/components/admin-user-click-dialog/admin-user-click-dialog.component.html
  webgui/webapp/src/app/pages/admin-page/components/admin-user-click-dialog/admin-user-click-dialog.component.ts
  webgui/webapp/src/app/services/aws.service.ts
Due: none

chore: add debounc calculate price
  webgui/webapp/src/app/pages/portal-page/dportal-page/user-section/user-notebook-list/user-notebook-list.component.ts
Due: none

chore: revert secret
  webgui/webapp/src/app/services/aws.service.ts
Due: none

chore: revert
  webgui/webapp/src/app/services/aws.service.ts
Due: none

MAINT: define response types for ingestion/indexing endpoints
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/projects-list/beacon-ingest-dialog/beacon-ingest-dialog.component.ts
  webgui/webapp/src/app/services/dportal.service.ts
Due: none

add dynamodb.tf
  database/dynamodb.tf
Due: none

feat: add cost in my notebooks
  webgui/webapp/src/app/pages/portal-page/dportal-page/user-section/user-notebook-list/notebook-item/notebook-item.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/user-section/user-notebook-list/notebook-item/notebook-item.component.ts
Due: none

pretty
  webgui/webapp/src/app/pages/admin-page/components/admin-create-user-dialog/admin-create-user-dialog.component.html
  webgui/webapp/src/app/pages/admin-page/components/admin-user-click-dialog/admin-user-click-dialog.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/admin-section/admin-notebooks-list/admin-notebook-item/admin-notebook-item.component.html
  webgui/webapp/src/app/pages/portal-page/dportal-page/user-section/user-notebook-list/notebook-item/notebook-item.component.html
Due: none

Dev : dynamodb add table user quota
  dynamodb.tf
Due: gxc-hub01-root, gxc-hub02-root

remove dynamodb.tf wrong branch
  dynamodb.tf
Due: gxc-hub01-root, gxc-hub02-root

Fixing atlantis cicd
  atlantis.yaml
Due: gxc-hub01-root, gxc-hub02-root
